@use '~bootstrap/scss/bootstrap' with (
    $primary: #6F1D1B,
    $secondary: #591716,
    $black: #333333,
    $white: #FFFAF0,
    $gray-600: #BBB9B9,

    $pink: #CC79A7,
    $blue: #0072B2,
    $green: #009E73,
    $yellow: #E69F00,
    $orange: #D55E00,
);